# Local Terraform files
**/.Terraform/*
**/.terraform.lock.hcl

*.tfstate
*.tfstate.*

terraform/eks-dev/values/**
terraform/eks-helm-dev/values/**

# Cluster AutoScaler log

test/autoscaling/*.txt
test/autoscaling/*.log
