# Local Terraform files
**/.Terraform/*
**/.terraform.lock.hcl

*.tfstate
*.tfstate.*

terraform/dev/eks-dev/values/**
terraform/dev/eks-helm-dev/values/**

# Cluster AutoScaler log

test/autoscaling/*.txt
test/autoscaling/*.log

# Private files
ignores/
ignores/**
